.search-task__wrapper{
    width: 1000px;
    height: 115px;
    margin: 0 auto;
    background-color:#80a3e0;
    border-radius: 5px;
    margin-top: 25px;
    text-align:center;
}
.search-task__input{
    margin-top: 20px;
    width: 920px;
    height: 30px;
    border-radius: 5px;
    border: none;   
    font-family: 'Noto Sans', sans-serif;
    font-weight: 12px;
    padding: 0;
    text-indent: 5px;
}
input:focus{
    outline: none;
}
::placeholder {
    font-family: 'Noto Sans', sans-serif;
}
.search-task__filters{
    text-align: left;
    margin-top: 15px;
    padding-left: 40px;
}
.search-task__filter-button{
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #80a3e0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    width: 100px;
}
.search-task__filter-button:focus{
    background-color: white;
    color: #80a3e0;
}
.search-task__filter-button:hover{
    background-color: white;
    color: #80a3e0;
}
